<div class="container">
  <div class="login-form">
    <h1>Forgot Password</h1>
    <h4>
      Please enter your registered email where we will send you reset password
      link
    </h4>
    <form>
      <div class="control">
        <label for="name">Email adress</label>
        <input type="text" name="name" id="name" placeholder="Email adress" />
      </div>
    </form>
    <div class="control">
      <input (click)="sendLink()" type="submit" value="Reset Password Link" />
    </div>
    <h3 class="login-back">
      Oh i remember <a routerLink="/login">Back to Login</a>
    </h3>
  </div>
</div>
