<app-sheared-header></app-sheared-header>
<div class="products-container">
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search.."
      name="search"
      [ngModel]="search"
      (ngModelChange)="onSearch($event)"
    />
  </div>
  <div class="container">
    <div
      class="product-container"
      *ngFor="let product of productsData"
      (click)="onProductClick(product)"
    >
      <ul class="product-card">
        <li>
          <img src="{{ product.image }}" style="max-width: 250px" />
          <h5>{{ product.title }}</h5>
          <p>Price:{{ product.price }}$</p>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="openModal">
    <app-product-modal
      (closeEvent)="onCloseModal($event)"
      [data]="selectedProduct"
    ></app-product-modal>
  </div>
</div>
