<div class="form-container">
  <div class="login-form">
    <h1>Welcome</h1>
    <h4>Please enter your login details</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="control">
        <label for="name">Email</label>
        <input
          type="email"
          name="name"
          id="name"
          placeholder="Email"
          formControlName="email"
          [ngModel]="searchValue"
        />
      </div>
      <div class="control">
        <label for="pse">Password</label>
        <input
          type="password"
          name="psw"
          id="psw"
          placeholder="Password"
          formControlName="password"
          [ngModel]="searchValue"
        />
      </div>
      <div class="control">
        <input type="submit" value="Login" />
      </div>

      <div class="link">
        <a routerLink="/products/list">Take Me Home</a>
      </div>
      <div class="link">
        <a routerLink="/forgot/password">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>
