body{
  font-family: sans-serif;
}



.container{
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  padding: 100px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;


}

.button{
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 40px;

}

.button button{
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}


.product-image {
  width: 250px;
  height: 250px;
}

table {
  width: 100%;
  text-align: center;
}

x
.mat-form-field {
  font-size: 14px;
  width: 100%;

}



.table-button{
  cursor: pointer;
  display: flex;
}

.button-flex{
  display: flex;
}

@media (min-width: 1025px) and (max-width: 1280px){
  .button {
     margin-left: 30px;
}

}
@media (min-width: 481px) and (max-width: 767px) {
  .button {
      margin-left: 30px;
  }
}
    /* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px){
      .button{
     margin-left: 30px;
      }
  }
